[package]
name = "create_window"
version = "0.0.0"
edition = "2018"

[dependencies]
hello = { path = "../hello" }

[dependencies.windows]
version = "0.*"
features = [
    "Win32_Foundation",
    "Win32_Graphics_Gdi",
    "Win32_System_LibraryLoader",
    "Win32_UI_WindowsAndMessaging",
]
